.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
*.patch
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
*.iml
*.ipr
*.iws
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db
*.db-journal
*.sql
*.sqlite
*.rdb
*.pid
*.seed
*.pid.lock
*.pidfile
*.pidfile.lock
*.pid.lockfile
